@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'Nirmala UI';
    src: url('../fonts/Nirmala.ttf');
    font-weight: normal;
    font-size: 16px;
}

body{
    font-family: Nirmala UI,'Poppins';
}

p{
    line-height: 30px;
    font-size: 16px;
}

.kannada{
    font-family: 'Roboto';
    font-weight: medium;
    font-size: 14px;
    line-height: 25px;
}

a{
    &.kannada{
        font-size: 16px;
    }
}