.sec-space-small{
    padding: 10px 0;
}

.sec-space{
    padding: 25px 0;
}

.sec-space-big{
    padding: 40px 0;
}

img{
    margin-bottom: 0px;
}

.ReactGridGallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}