.home-page{
    .about-adijambava{
        text-align: center;

    }
    .vidhansouha{
        text-align: center;
        
        img{
            width: 35%;
        }
    }
}

.main-slider{

    background-image: url('../images/banner1.svg');
    background-size: cover;

    .carousel-caption{
        top: 30%;
        left: 5%;
        right: unset;

        h1{
            font-size: 40px;
            line-height: 60px;
        }
    }

    .carousel-indicators{
        top:70%;
            right:5%;
            left:unset;
            margin-right: unset;
            .active{
                background-color: white;
            }
        li{
            background-color: red;
            opacity: unset;
            width: 13px;
            height: 13px;
            border: 2px solid red;
        }
    }

    .carousel-control-prev{
        display: none;
    }
    .carousel-control-next{
        display: none;   
    }
}