.icon-box{
    position: relative;
    margin-bottom: 80px;
    margin-right: 40px;
    margin-left: 40px;
    .iconimg{
        position: absolute;
        background-color: white;
        border-radius: 100%;
        border: 8px solid white;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    .icon-content{
        border-radius: 33px;
        position: relative;
        background-color: #ffab3e;
        padding: 90px 50px 10px 50px;;

        p{
            color: white;
            font-size: 15px;
        }
    }
    
}

