header{
    background-image: url('../../images/header1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 60px 20px 60px;
    position: relative;
    

    .top-bar{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        img{
            margin-bottom: 0px;
        }

        .logo{
            flex-basis: 8%;

        }

        .top-bar-text{
            margin: 0 30px;
            flex-basis: 50%;
            align-items: flex-start;

            .title{
                color: white;
                text-transform: uppercase;
                font-size: 20px;
            }
        }

        .minister-list{
            flex-basis: 40%;
            display: flex;
            justify-content: flex-end;

            .member{
                padding-left: 1px;
                img{
                    width: 80%;
                }
            }
        }
    }
    .menu-bar{
        display: flex;
        align-items: center;

        .site-menu{
            padding: 5px 0px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex-basis: 80%;
    
            [aria-current="page"]{
                border-bottom: 2px solid white;
                padding-bottom: 10px;
            }
    
            .menu-button{
                cursor: pointer;
                flex-basis: 5%;
                .fa{
                    color: white;
                    font-size: 28px;
                }
            }
            .menu-items{
                flex-basis: 80%;
    

                .primary-list{
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;
                    position: relative;

                    [aria-current="page"]{
                        border-bottom: 1px solid white;
                        padding-bottom: 10px;
                    }

                    .dropdown{
                        
                        
                    &:hover{
                        .secondary-list{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    }

                    .secondary-list{

                        position: absolute;
                        top: 100%;
                        left: -16px;                       
                        z-index: 10;
                        background-color: white;
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 2px 0px;
                        width: 180px;
                        margin: 0;
                        box-shadow: 1px 1px 5px 1px #00000021;
                        
                        li{
                            list-style: none;
                            padding: 5px 0px;
                            a{
                                color: red;
                                text-decoration: none;
                                padding: 3px 20px;
                                font-size: 14px;
                                
                            }
                        }

                    }
    
                    li{
                        margin-bottom: 0;
                        a{
                            color: white;
                            font-weight: normal;
    
                            &:hover{
                                text-decoration: none;
                                font-weight: normal;
                            }
                        }
                    }
                }
            } 
        }
        .language-select{
            display: flex;
            flex-basis: 18%;
            justify-content: flex-end;
            align-items: center;
            .active{
                background-color: #ba3f2f;
            }
           .language-switch{
               border: 1px solid white;
               cursor: pointer;
                box-shadow: 1px 1px 12px 0px #00000029;

               h5{
                   margin-bottom: unset;
                   padding: 5px;
                   text-transform: uppercase;
                   font-weight: bold;
                   color: white;
                   font-size: 14px;
               }
           }
        }
    }
}

.header-bottom{
    img{
        width: 100%;
    }
}