header{
    background-image: url('../../images/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 60px 20px 60px;
    .top-bar{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        img{
            margin-bottom: 0px;
        }

        .logo{
            flex-basis: 8%;

        }

        .top-bar-text{
            margin: 0 30px;
            flex-basis: 50%;
            align-items: flex-start;

            .title{
                color: white;
                text-transform: uppercase;
                font-size: 20px;
            }
        }

        .minister-list{
            flex-basis: 40%;
            display: flex;
            justify-content: flex-end;

            .member{
                padding-left: 15px;
            }
        }
    }
    .menu-bar{
        display: flex;
        align-items: center;

        .site-menu{
            padding: 5px 0px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex-basis: 80%;
    
            [aria-current="page"]{
                border-bottom: 2px solid white;
                padding-bottom: 10px;
            }
    
            .menu-button{
                cursor: pointer;
                flex-basis: 5%;
                .fa{
                    color: white;
                    font-size: 28px;
                }
            }
            .menu-items{
                flex-basis: 80%;
    
                .primary-list{
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;
    
                    li{
                        margin-bottom: 0;
                        a{
                            color: white;
                            font-weight: bold;
    
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
            } 
        }
        .language-select{
            display: flex;
            flex-basis: 100px;
            justify-content: flex-start;
            align-items: center;
            .active{
                background-color: #ba3f2f;
            }
            .kannada{
                width: 43%;
                margin: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                padding:1px 10px;
                border: 1px solid white;
                
                
                img{
                    width: 100%;
                    margin-bottom: 0px;
                }
            }
            .english{
                width: 50%;
                margin: 5px;
                cursor: pointer; 
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid white;

                img{
                    width: 100%;
                    margin-bottom: 0px;
                    padding: 2px;
                }
            }
        }
    }
}