.page-title{
    .title{
       text-align: center;
       display: block;
       margin-bottom: 0px;
       color:#ef4c54;
       font-weight: bold;
       font-size: 40px;
    }
    padding: 20px 0px;
}