.latestNews{
    padding: 0px 60px;
    display: flex;
    box-shadow: 1px 1px 7px #00000014;

    .latest-news-head{
        flex-basis: 15%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .title{
            margin-bottom: 0;
            color: white;
            text-transform: uppercase;
            padding: 5px 0px;
            font-size: 16px;
        }
    }
    .latest-news-list{
        flex-basis: 90%;
        display: flex;
        align-items: center;

        marquee{
            margin: 0 20px;
            span{
                margin-right: 50px;
                &::after{
                    content: "|";
                    margin-left: 20px;
                    position: absolute;
                }

                &:last-child{
                    &::after{
                        display: none;
                    }
                }

                a{
                    font-size: 15px;
                    color: black;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}